@media (min-width: 100px) {
        .t-nav a:hover span:before {
        content: ;
        width: ;
        height: ;
        border-top: ;
        border-bottom: ;
        border-right: ;
        position: ;
        left: ;
    }
}
